@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Poppins-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/Poppins-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Poppins-Bold.woff') format('woff');
  }

  body {
    @apply bg-light-2 font-poppins;
  }
}
